@model WebAplicacionTurnos.Models.ReservaTurno

<div class="tab-content">
	<div id="paso2" class="tab-pane fade show active">
		<h3>Paso 2: Selección del Tipo de Servicio y Servicio</h3>

		<dl class="row">
			<dt class="col-sm-2">
				<label asp-for="TipoServicioId" class="control-label"></label>
			</dt>
			<dd class="col-sm-10">
				<select asp-for="TipoServicioId" class="form-control" asp-items="ViewBag.SelectListTiposServicios" id="SelectTiposServicios" name="TipoServicioId"></select>
			</dd>
			<dt class="col-sm-2">
				<label asp-for="ServicioId" class="control-label"></label>
			</dt>
			<dd class="col-sm-10">
				<select asp-for="ServicioId" class="form-control" asp-items="ViewBag.SelectListServicios" id="SelectServicios" name="ServicioId"></select>
			</dd>
			<dt class="col-sm-2">
				<label asp-for="Observacion" class="control-label"></label>
			</dt>
			<dd class="col-sm-10">
				<input asp-for="Observacion" class="form-control" />
				<span asp-validation-for="Observacion" class="text-danger"></span>
			</dd>
		</dl>
	</div>
</div>
